<% layout('layouts/adminPlantilla') %>
<div class="row mb-3">
  <div class="col-md-6 mb-3">
    <h3>Detalles del Proyecto</h3>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Título: <%= proyecto.titulo %></h5>
        <p class="card-text">
          <strong>Descripción: </strong><br />
          <%= proyecto.descripcion %>
        </p>
        <p class="card-text">
          <strong>Categoría: </strong><br />
          <%= proyecto.categoria.nombre %>
        </p>
        <p class="card-text">
          <strong>Tags: </strong><br />
          <%= proyecto.tags %>
        </p>
        <p class="card-text">
          <strong>Fecha: </strong><br />
          <%= proyecto.fecha %>
        </p>
        <p class="card-text">
          <strong>Estado: </strong><br />
          <%= proyecto.estado %>
        </p>
        <a href="/proyectos/<%= proyecto._id %>/editar" class="btn btn-primary">Editar <i class="bi bi-pencil"></i></a>
      </div>
      <div class="card-footer text-muted">Modificado por: <%= proyecto.modificadoPor.username %></div>
    </div>
  </div>

  <div class="col-md-6">
    <h3>Imágenes</h3>
    <div id="carruselDetalle" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% proyecto.images.forEach((img, i) => { %>
        <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
          <img src="<%= img.url %>" class="d-block img-fluid" alt="" />
        </div>
        <% }) %>
      </div>
      <% if (proyecto.images.length > 1) { %>
      <button class="carousel-control-prev" type="button" data-bs-target="#carruselDetalle" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carruselDetalle" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>
      <% } %>
    </div>
  </div>
</div>
