<% layout('layouts/adminPlantilla') %>
<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <h1>Editar Proyecto</h1>
    <div class="card mb-3">
      <div class="card-body">
        <form action="/proyectos/<%= proyecto._id %>?_method=PUT" method="POST" novalidate class="validar mb-3" enctype="multipart/form-data">
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" name="proyecto[titulo]" id="nombre" value="<%= proyecto.titulo %>" required />
              <div class="valid-feedback">Datos válidos.</div>
            </div>
            <div class="col-md-6">
              <label for="categoria" class="form-label">Categoría</label>
              <select class="form-select" name="proyecto[categoria]" id="categoria" required>
                <% for( let categoria of categorias ) { %> <option value="<%= categoria._id %>" <%= proyecto.categoria.equals(categoria._id) ? 'selected' : '' %>><%= categoria.nombre %> <% } %>
              </select>
              <div class="invalid-feedback">Campo obligatorio.</div>
              <div class="valid-feedback">Datos válidos.</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <textarea class="form-control" name="proyecto[descripcion]" id="descripcion" cols="30" rows="3" required><%= proyecto.descripcion %></textarea>
            <div class="invalid-feedback">Campo obligatorio.</div>
            <div class="valid-feedback">Datos válidos.</div>
          </div>
          <div class="mb-3">
            <label for="etiquetas" class="form-label">Etiquetas</label>
            <input
              height="288px"
              type="text"
              class="form-control"
              name="proyecto[tags]"
              id="etiquetas"
              placeholder="Inserte etiquetas aquí, separadas por coma. Ej: 'Guanacaste, cama, tapizado'"
              value="<%= proyecto.tags %>"
              required
            />
            <div class="invalid-feedback">Campo obligatorio.</div>
            <div class="valid-feedback">Datos válidos.</div>
          </div>
          <div class="mb-3">
            <label for="formFileMultiple" class="form-label">Agregar Imágenes</label>
            <input class="form-control" type="file" id="formFileMultiple" name="image" accept="image/*" multiple />
            <div class="invalid-feedback">Campo obligatorio.</div>
            <div class="valid-feedback">Datos válidos.</div>
          </div>
          <div class="row">
            <div class="col-sm-6 mb-3">
              <label for="fecha" class="form-label">Fecha</label>
              <input type="date" class="form-control" name="proyecto[fecha]" id="fecha" value="<%= proyecto.fecha %>" />
              <div class="invalid-feedback">Campo obligatorio.</div>
              <div class="valid-feedback">Datos válidos.</div>
            </div>
            <div class="col-sm-6 mb-3">
              <label for="estado" class="form-label">Estado</label>
              <select class="form-select" name="proyecto[estado]" id="estado" required>
                <option value="Activo">Activo</option>
                <option value="Inactivo">Inactivo</option>
              </select>
              <div class="invalid-feedback">Campo obligatorio.</div>
              <div class="valid-feedback">Datos válidos.</div>
            </div>
          </div>
          <div class="row mb-3">
            <h5>Delete Images</h5>
            <% proyecto.images.forEach(function(img, i) { %>
            <div class="col-md-6 mb-2 d-inline border-start border-end">
              <input type="checkbox" class="" id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename %>" />
              <label class="" for="image-<%= i %>"> ¿Eliminar? <img src="<%= img.thumbnail %>" alt="#" class="img-fluid" /> </label>
            </div>
            <% }) %>
          </div>
          <button class="btn btn-primary">Guardar Cambios</button>
        </form>
        <a href="/proyectos"><button class="btn btn-info">Cancelar</button></a>
      </div>
    </div>
  </div>
</div>
