<% layout('layouts/plantilla') %>
<section class="text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-bold text-secondary">Mueblería Pérez Luna</h1>
      <p class="lead text-muted">
        Estos son algunos de los proyectos que hemos realizado para nuestros clientes. <br />
        Si necesita asesoría para un proyecto propio, no dude en contactarnos.
      </p>
      <p>
        <a href="/cotizar" class="btn btn-primary my-2"><i class="bi bi-cash-stack"></i> Cotizar</a>
        <a href="/contacto" class="btn btn-primary my-2"><i class="bi bi-telephone"></i> Contacto</a>
      </p>
    </div>
  </div>
</section>

<div class="album bg-light mb-3">
  <div class="container">
    <div class="row row-cols-sm-1 row-cols-md-2 g-3">
      <% for( let proyecto of proyectos ) { %>
      <div class="col-md-6">
        <div class="card shadow-sm h-100">
          <div id="<%= `car${proyecto._id}` %>" class="carousel slide carousel-dark card-img-top" data-bs-ride="carousel">
            <div class="carousel-inner">
              <% proyecto.images.forEach((img, i) => { %>
              <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                <img src="<%= img.url %>" class="d-block img-fluid" alt="Imagen del Proyecto" />
              </div>
              <% }) %>
            </div>
            <% if (proyecto.images.length > 1) { %>
            <button class="carousel-control-prev" type="button" data-bs-target="<%=`#car${proyecto._id}`%>" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="<%=`#car${proyecto._id}`%>" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Siguiente</span>
            </button>
            <% } %>
          </div>
          <div class="card-header">
            <span class="text-muted">Categoría:</span>
            <%= proyecto.categoria.nombre %>
          </div>
          <div class="card-body">
            <p class="card-title h5"><%= proyecto.titulo %></p>
            <p class="card-text"><%= proyecto.descripcion %></p>
          </div>
          <div class="card-footer text-muted"><%= proyecto.fecha %></div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
